---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/cri-dockerd.sock"  # Set CRI socket to cri-dockerd
localAPIEndpoint:
  advertiseAddress: "{{ ansible_all_ipv4_addresses[1] }}"  # Host IP for the Kubernetes API
  bindPort: 6443

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: "10.244.0.0/16"  # This is the Pod CIDR for Flannel
  serviceSubnet: "10.96.0.0/12"
kubernetesVersion: "v1.30.0"
controlPlaneEndpoint: "{{ ansible_all_ipv4_addresses[1] }}:6443"  # Control plane endpoint (host IP)